@import './reset.styl';

body
  size 100vw 100vh
  color: #fff
  background: #333

h1
  font-size: 5rem

h2, h3
  font-size: 3rem

#root, .app
  size: 100%
  display: flex
  justify-content: center
  align-items: center

.logo
  size: 256px

.btn-next
  margin: auto 4rem
  size: 150px
  border-radius: 100%
  font-size: 2rem
  background: #29B6F6
