.icon
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 1em;
  border-radius: 1em;
  box-shadow: #4c752e 0 0 20px;
  background-repeat: no-repeat;

  &:nth-child(1)
    background-image: url(../images/info.png);

  &:nth-child(2)
    background-image: url(../images/settings.png);

